*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}


a:link,a:visited{
    text-decoration: none;
    color:white;
}

.img-hello{
    width: 500px;
    margin: 0 auto;
    position: relative; 
    top: 8px;
}

.img-hello > img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.hello{
    font-size: 35px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin-top: -300px;

}
.infor{
    font-size: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
.menu{
    height: 80px;
    margin: 0 auto;
    background-color: rgb(44, 44, 44);
    padding: 20px 0;
    list-style: none;
}

.menu a:hover{
    font-weight: bold;
    color: gray;
}

ul.menu > li{
    float: left;
    margin: 25px;
    font-size: 20px;
    position: relative;
    top:-15px;"
}

.pet{
    text-align: center;
    width: 300px; 
    margin: 0 auto;
    margin-bottom: 50px; 
}

.icon {
    text-align: center;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.icon > div {
    text-align: center; 
}
