*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

a:link,a:visited{
    text-decoration: none;
    color:white;
}

.hello{
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

.top{
    text-align: center;
    height: 80px;
    margin: 0 auto;
    background-color: rgb(95, 95, 95);
    padding: 20px 0;
    z-index:0;
}

.icon {
  
    display: flex; /* flexbox 레이아웃을 활성화합니다. */
    justify-content: space-around; /* 각 아이템 사이에 공간을 동일하게 배분합니다. */
    align-items: center; /* 아이템들을 세로 축 중앙에 정렬합니다. */

}

.icon > div {
    text-align: center; /* 각 div 내의 텍스트를 중앙 정렬합니다. */
}

